li {
  text-align: center;

  background-color: #6425f7;
  width: 20rem;
  height: 26rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border-color: black;

  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  outline: white;
  align-items: center;
}

a:link {
  text-align: center;
  font-size: 32px;

  color: pink;

  font-family: sans-serif;
  background-color: white;
  text-decoration: none;
}
